.container.testimonials__container {
    width: 40%;
    padding-bottom: 4rem;
    padding-right: 4rem;
}

.testimonial {
    padding-top: 30px;
}

.client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial  {
    background: var(--color-bg-variant);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    margin-left: 20px;
    margin: 0.8rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    user-select: none;
}

.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}




/*****    MEDIA QUERYS  Medium Devices   *****/

@media screen and (max-width: 1024px) {
    .container.testimonials__container {
        width: 60%;
    }
}


/*****    MEDIA QUERYS     Small Devices   *****/

@media screen and (max-width: 600px) {
    .container.testimonials__container {
        width: var(--container-width-sm);
    }

    .client__review {
        width: var(--container-width-sm);
    }
} 